<div id="add-recored">

  <div id="main">
    <span *ngFor="let valueMain of MainEnumValues">
      <input type="radio" value="{{valueMain.code}}" [(ngModel)]="main" name="main" id="{{valueMain.code}}">
      <label for="{{valueMain.code}}">{{valueMain.label}}</label>
    </span>
  </div>

  <div id="resultat">

    <span *ngFor="let valueResultat of ResultatEnumValues">
      <input type="radio" value="{{valueResultat.code}}" [(ngModel)]="resultat" name="resultat" id="{{valueResultat.code}}">
      <label for="{{valueResultat.code}}">{{valueResultat.label}}</label>
    </span>
  </div>

  <button (click)="enregistrerPartie()">Enregistrer</button>

</div>
