<div class="fb-manage-list fb-l-panneau">
  <div class="fb-records" *ngFor="let record of (records$ | async)">
    <div class="fb-record-info">
      <div>
        {{record.date | date:'dd/MM HH'}}h{{record.date | date:'mm'}}
      </div>
      <div>
        {{getFormattedResultat(record)}} contre {{record.opponent?.username || 'un inconnu'}}
      </div>
    </div>
    <div class="fb-record-supp" (click)="selectRecord(record)">
      <i class="fa fa-trash fb-record-supp-button" aria-hidden="true"></i>
    </div>
  </div>
</div>

<app-popin-validation *ngIf="selectedRecord" (onDecision)="reactToPopin($event)">
  <div class="popin-title">Supprimer une partie</div>
  <div class="popin-question">
    <p>
      Êtes-vous sûr de vouloir supprimer la partie
      du {{selectedRecord.date | date:'dd/MM'}}
      à {{selectedRecord.date | date:'HH'}}h{{selectedRecord.date | date:'mm'}}<span *ngIf="selectedRecord.opponent">
      contre {{selectedRecord.opponent?.username}}</span>&nbsp;?
    </p>
    <br>
    <p *ngIf="selectedRecord.opponent">
      Pensez à prévenir {{selectedRecord.opponent?.username}} qu'il en fasse autant&nbsp;!
    </p>
  </div>
</app-popin-validation>
