<div class="fb-l-panneau">

  <div class="fb-l-panneau-title">Récapitulatifs globaux</div>

  <table class="fb-stat-totaux">
    <tr>
      <th>&nbsp;</th>
      <th>Casses</th>
      <th>Reprises</th>
      <th>Total</th>
    </tr>
    <tr>
      <th>Perdue</th>
      <td>
        <div class="fb-stat-totaux-nombre">{{(agregatedRecords$ | async)?.cassePerdu}}</div>
        <div class="fb-stat-totaux-pourcent">{{(agregatedRecords$ | async)?.getPercentCassePerdu() | number:'1.0-1'}}&nbsp;%</div>
      </td>
      <td>
        <div class="fb-stat-totaux-nombre">{{(agregatedRecords$ | async)?.reprisePerdu}}</div>
        <div class="fb-stat-totaux-pourcent">{{(agregatedRecords$ | async)?.getPercentReprisePerdu() | number:'1.0-1'}}&nbsp;%</div>
      </td>
      <td>
        <div class="fb-stat-totaux-nombre">{{(agregatedRecords$ | async)?.getPerdues()}}</div>
        <div class="fb-stat-totaux-pourcent">{{(agregatedRecords$ | async)?.getPercentPerdu() | number:'1.0-1'}}&nbsp;%</div>
      </td>
    </tr>
    <tr>
      <th>Gagnée</th>
      <td>
        <div class="fb-stat-totaux-nombre">{{(agregatedRecords$ | async)?.casseGagne}}</div>
        <div class="fb-stat-totaux-pourcent">{{(agregatedRecords$ | async)?.getPercentCasseGagne() | number:'1.0-1'}}&nbsp;%</div>
      </td>
      <td>
        <div class="fb-stat-totaux-nombre">{{(agregatedRecords$ | async)?.repriseGagne}}</div>
        <div class="fb-stat-totaux-pourcent">{{(agregatedRecords$ | async)?.getPercentRepriseGagne() | number:'1.0-1'}}&nbsp;%</div>
      </td>
      <td>
        <div class="fb-stat-totaux-nombre">{{(agregatedRecords$ | async)?.getGagnees()}}</div>
        <div class="fb-stat-totaux-pourcent">{{(agregatedRecords$ | async)?.getPercentGagne() | number:'1.0-1'}}&nbsp;%</div>
      </td>
    </tr>
    <tr>
      <th>Fermée</th>
      <td>
        <div class="fb-stat-totaux-nombre">{{(agregatedRecords$ | async)?.casseFerme}}</div>
        <div class="fb-stat-totaux-pourcent">{{(agregatedRecords$ | async)?.getPercentCasseFerme() | number:'1.0-1'}}&nbsp;%</div>
      </td>
      <td>
        <div class="fb-stat-totaux-nombre">{{(agregatedRecords$ | async)?.repriseFerme}}</div>
        <div class="fb-stat-totaux-pourcent">{{(agregatedRecords$ | async)?.getPercentRepriseFerme() | number:'1.0-1'}}&nbsp;%</div>
      </td>
      <td>
        <div class="fb-stat-totaux-nombre">{{(agregatedRecords$ | async)?.getFermees()}}</div>
        <div class="fb-stat-totaux-pourcent">{{(agregatedRecords$ | async)?.getPercentFerme() | number:'1.0-1'}}&nbsp;%</div>
      </td>
    </tr>
  </table>
</div>
