<div class="fb-home">
  <div class="fb-home-intro">
    En ce moment, il y a :
  </div>
  <div  class="fb-home-inscrit">
    <span class="fb-home-value">{{(homeData$ | async)?.nbInscrits}}</span>
     joueurs inscrits,
  </div>
  <div class="fb-home-partie">
    ils ont joué <span class="fb-home-value">{{(homeData$ | async)?.nbParties}}</span> parties de billard
  </div>
  <div class="fb-home-ferme">
    et ont fait <span class="fb-home-value">{{(homeData$ | async)?.nbFermes}}</span> fermes
  </div>
</div>
