@import "../../../styles/colors";

.fb-home-intro {
  margin-bottom: 20px;
}

.fb-home-inscrit,
.fb-home-partie,
.fb-home-ferme {
  line-height: 2em;
  font-size: 1.6rem;
}

.fb-home-partie {
  text-align: center;
}
.fb-home-ferme {
  text-align: right;
}

.fb-home-value {
  font-family: Alegreya-Bold;
  font-size: 2.4rem;
  color: $color-secondary-light;
}
