.fb-home {
  margin: auto 0;
}

.fb-home-intro {
  margin-bottom: 30px;
}

.fb-home-inscrit,
.fb-home-partie,
.fb-home-ferme {
  line-height: 4rem;
  font-size: 1.6rem;
}

.fb-home-partie {
  text-align: center;
}
.fb-home-ferme {
  text-align: right;
}

.fb-home-value {
  font-weight: bold;
  font-size: 2rem;
  color: #ffdd33;
}
