$color-main: #1C4C98;
$color-main-disatured: #2E4466;
$color-main-dark: #052352;
$color-main-light: #6392DC;
$color-main-fade: #93AFDC;

$color-secondary: #E69A17;
$color-secondary-disatured: #9A783D;
$color-secondary-dark: #7B5004;
$color-secondary-light: #F6C062;
$color-secondary-fade: #F6D69C;

$color-danger: #E61717;
$color-danger-disatured: #9A3D3D;
$color-danger-dark: #7B0404;
$color-danger-light: #F66262;
$color-danger-fade: #F69C9C;






