<div class="nav" [ngClass]="{'hide': !(isAuthentified$ | async)}">
  <a [routerLink]="['/home']" class="nav-link">
    <i class="fa fa-home" aria-hidden="true"> </i>
  </a>

  <div class="nav-menu-toggler" (click)="toggleMenu()">
    <div class="hambourger" [ngClass]="{'open': isMenuOpen}">
      <span></span>
    </div>
    Menu
  </div>
  <app-menu *ngIf="isMenuOpen" (onMenuClosed)="toggleMenu()"></app-menu>

  <div class="nav-logged-in">
    <img [src]="user?.profilePicture" class="nav-logged-in-picture" alt="Image du profile FaceBook">
  </div>
</div>

<div class="nav-disconnected" [ngClass]="{'hide': (isAuthentified$ | async)}">
  <button (click)="login()" class="nav-disconnected-btn">
    Se connecter avec Facebook <i class="fa fa-facebook-official" aria-hidden="true"></i>
  </button>
</div>
