@import "../../../styles/colors";

.fb-add-record-opponent .fa {
  display: block;
  font-size: 3rem;
}

.fb-add-record-row {
  margin: 20px 0;
}

.fb-add-record-two-column {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.fb-add-record-column {
  width: 45%;
  text-align: center;
}

.fb-add-record-save {
  width: 100%;
}

.fb-add-record-search-opponent {
  border: 1px solid $color-secondary;
}

.fb-add-record-picture {
  height: 65px;
}
