<div class="fb-add-record">

  <div class="fb-add-record-hand">
    <span *ngFor="let valueMain of MainEnumValues" class="fb-form-select-btn">
      <input type="radio" value="{{valueMain.code}}" [(ngModel)]="main" name="main" id="{{valueMain.code}}">
      <label for="{{valueMain.code}}">{{valueMain.label}}</label>
    </span>
  </div>

  <div class="fb-add-record-result" *ngIf="main">
    <span *ngFor="let valueResultat of ResultatEnumValues" class="fb-form-select-btn">
      <input type="radio" value="{{valueResultat.code}}" [(ngModel)]="resultat" name="resultat" id="{{valueResultat.code}}">
      <label for="{{valueResultat.code}}">{{valueResultat.label}}</label>
    </span>
  </div>

  <button (click)="enregistrerPartie()" *ngIf="main && resultat" class="fb-add-record-save fb-form-save-btn                                                                                                 ">Enregistrer</button>

</div>
