<div class="fb-menu" (click)="closeMenu()">

  <div class="fb-menu-options">
    <div class="fb-menu-option" [routerLinkActive]="['active']" [routerLink]="['/home']">
      <i class="fa fa-home" aria-hidden="true"> </i>
      Accueil
    </div>
    <div class="fb-menu-option" [routerLinkActive]="['active']" [routerLink]="['/add-record']">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      Ajouter une partie
    </div>
    <div class="fb-menu-option" [routerLinkActive]="['active']" [routerLink]="['/stats']">
      <i class="fa fa-bar-chart" aria-hidden="true"></i>
      Statistiques
    </div>
    <div class="fb-menu-option" [routerLinkActive]="['active']" [routerLink]="['/manage-record']">
      <i class="fa fa-check-circle-o" aria-hidden="true"></i>
      Gérer mes parties
    </div>
    <div class="fb-menu-option" [routerLink]="['/home']" (click)="logout()">
      <i class="fa fa-sign-out" aria-hidden="true"></i>
      Se déconnecter
    </div>
  </div>

</div>
